@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root
{
  height: 100vh;
  margin: 0;
}

  body,
  input, 
  select,
  button, 
  textarea {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.fondo {
  background-color: white;
  height: 100%;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 9rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a {
  text-decoration: none;
}

header{ 
  font-size: 2rem;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  grid-area: header;
  background-color: #EFEAE4;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 10px 5px 5px 5px #faecda;
}

header a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.logo {
  background-size: 2rem;
  justify-content: center;
  align-items: center;
}


a.inicio {
  font-size: 1.8rem;
  margin: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}

a.nosotros {
  font-size: 1.8rem;
  margin: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}

a.contacto {
  font-size: 1.8rem;
  margin: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}

a:hover {
  color: #ebb472; 
}

main {
  grid-area: main;
}

footer{
  grid-area: footer;
  font-weight: bold;
  background-color : #EFEAE4;
  color: #d88322;
  display: flex;
  justify-content: center;
  align-items: center;
}

.envios {
  background-color: coral;
}

.parrafoEnvios {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #EFEAE4;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem; 
} 

.sidebar {
  flex: 1 20rem;
}

.shoppingCart {
  margin: 1.5rem 5rem 2rem 1.5rem;
  float: right; 
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1  29rem;
  height: 47rem;
  padding: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.color {
  font-weight: bold;
  color:  #F4EDDF;
}

.color:hover {
  color: rgb(126, 11, 11);
}

.product img {
  max-width: 37rem;
  max-height: 37rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div, 
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem rgb(202, 87, 20) solid; 
  background-color:  rgb(231, 165, 126);
}

.button:hover {
  border: 0.2rem rgb(126, 11, 11) solid;
}

.button.primary {
  background-color: antiquewhite;
}


/* Carousel */
.carousel {
  margin-top: 3rem;
}

/* Filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom:  0.1rem rgb(224, 120, 60) solid;
}

.filter div {
  flex: 1;
}

/* Cart */

.cart {
  padding: 1rem; 
  margin: 1rem;
  display: flex;
}

.cart-header{
  border-bottom: 0.1rem rgb(224, 120, 60) solid; 
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 6rem;
  border-radius: 0.5rem;
  border: 0.3rem solid;  color:  rgb(231, 165, 126);
}

.cart-items li {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  display: flex;
}

.cart-items li div {
  padding: 1rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}

.button {
  margin-left: 0.3rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total > div,
.total > button {
  flex: 1;
}


